<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-primary">LISTS</h1>

      <div class="list-menu">
        <a
          class="list-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active"
        >
          {{ list.title }}
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">
        + New List
      </button>
    </div>
    <div class="task-list-container">
      <h1 class="title has-text-primary">TASKS</h1>

      <div *ngFor="let task of tasks" class="task-row">
        <div
          class="task"
          [ngClass]="{ complete: task.completed }"
          (click)="onTaskClick(task)"
        >
          <p>{{ task.title }}</p>
        </div>
        <button
          class="button is-danger is-medium delete-button"
          (click)="deleteTask(task._id)"
        >
          <img
            class="btn-image"
            src="../../../assets/trash-blank-alt-svgrepo-com.svg"
            style="color: aliceblue"
          />
        </button>
      </div>
      <!-- <div class="task complete">
        <p>Task #5</p>
      </div> -->
      <button
        [disabled]="isDisabled"
        class="button is-primary has-text-white circle-button mb-5"
        routerLink="./new-task"
      >
        +
      </button>
    </div>
  </div>
</div>
