<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-primary">LISTS</h1>

      <div class="list-menu">
        <a class="list-menu-item is-active"> List #1</a>
        <a class="list-menu-item"> List #2</a>
        <a class="list-menu-item"> List #3</a>
      </div>

      <button class="button is-primary has-text-white">+ New List</button>
    </div>
    <div class="task-list-container">
      <h1 class="title has-text-primary">TASKS</h1>

      <div class="task">
        <p>Task #1</p>
      </div>
      <div class="task">
        <p>Task #2</p>
      </div>
      <div class="task">
        <p>Task #3</p>
      </div>
      <div class="task">
        <p>Task #4</p>
      </div>
      <div class="task complete">
        <p>Task #5</p>
      </div>
    </div>
  </div>
</div>
